.navbar-inverse{
	background: black;
    color: white;
    padding: 3px;
}

.navbar-inverse .navbar-brand, .navbar-inverse a{
	color:white;
	font-size: 25px;
	padding-top: 15px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	font-size: 17px;
	padding-top: 17px;
    margin-left: 10px;
} 

.nav{
    margin-left: 25px;
}

body {
    background: url(https://images.unsplash.com/photo-1551309292-e185c0b6e22a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

body, html{
    width: 100%;
    height: 100%;
    color: white;
}

h1{
	font-weight: 350;
	font-size: 7em;
}

h3{
    font-weight: 340;
}

.content{
    color: white;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr{
    width: 530px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 53%;
  height: 45%;
  padding: 10px;
  text-align: center;
/*  border: 2px white solid;*/
}

h5{
    text-align: justify;
}